

.card__img {
    width: 100%;
    height: 300px;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    border-radius: 5px;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 2em;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 2em;
}

.card__copy {
    width: 100%
}

.card:last-child {
    border-bottom: none;
}

.card__location-info {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    margin-bottom: .7em;
}

.location__icon {
    width: 7px;
    margin-right: .6em;
}

.location {
    text-transform: uppercase;
    letter-spacing: 0.17em;
    margin-right: 1.5em;
}

.location-google {
    text-decoration-line: underline;
    color: #918E9B;
    margin-left: auto;
}

.card__title {
    margin-bottom: .95em;
}

.card__date {
    font-weight: 700;
    margin-bottom: .7em;
}

.card__description {
    line-height: 150%;
    font-weight: 400;
}

@media screen and (min-width: 734px) {
    .card {
        display: flex;
        flex-direction: row;
    }

    .card__img {
        min-width: 165px;
        max-width: 165px;
        min-height: 250px;
        max-height: 250px;
    }
}

@media screen and (min-width: 1064px) {
    .card {
        max-width: 1150px;
    }

    .card__img {
        min-width: 375px;
        max-width: 375px;
        min-height: 345px;
        max-height: 345px;
    }

    .card__location-info {
        font-size: 14px;
        align-items: flex-end;
    }

    .location__icon {
        width: 10px
    }
}


@media screen and (min-width: 1300px) {
    .card__img {
        min-width: 465px;
        max-width: 465px;
    }
}